@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0px;
  border: 0px;
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(46, 46, 46);
  box-sizing: border-box;
  font-size: 16px;
}

li{
  list-style-type: none;
}

button{
  margin: 0 10px;
  color: white;
  width: 150px;
  height: 30px;
  background-color: black;
}

button:hover{
  cursor: pointer;
}
